<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="height: 79px;margin-top: -46px;width: 100%;">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="new_entry_title">
                                <div class="header">
                                    <h2>
                                        <strong>Term Master</strong>
                                    </h2>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="btn_list" style="text-align: right;">
                                <div class="header">
                                    <h2>
                                        <button class="btn btn-primary btn-rounded waves-effect" type="button"
                                            (click)="showList();"><i class="fa fa-calendar"></i> List of Term
                                            Master</button>
                                    </h2>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="list_title">
                                <div class="header">
                                    <h2>
                                        <strong>List of Term Master</strong>
                                    </h2>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="btn_new_entry"
                                style="text-align: right;">
                                <div class="header">
                                    <h2>
                                        <button class="btn btn-primary btn-rounded waves-effect" type="button"
                                            (click)="showNewEntry();"><i class="fa  fa-plus"></i>Add New Term
                                            Master</button>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="new_entry_form">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form [formGroup]="termForm" (ngSubmit)="onSubmit($event)">
                        <div class="card">
                            <div class="body">
                                <div class="row clearfix">
                                    <input type="hidden" formControlName="ID" id="ID" value="[ID]" class="form-control">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                        <div class="form-group">
                                            <label>Term Code</label>
                                            <input type="text" formControlName="term_code" value="[TERM_CODE]"
                                                class="form-control" placeholder="Term Code"
                                                [ngClass]="{ 'is-invalid': submitted && f.term_code.errors }" />
                                            <div *ngIf="submitted && f.term_code.errors" class="invalid-feedback">
                                                <div *ngIf="f.term_code.errors.required">Term Code is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                        <div class="form-group">
                                            <label>Term Description</label>
                                            <input type="text" formControlName="term_description"
                                                value="[TERM_DESCRIPTION]" class="form-control"
                                                placeholder="Term Description"
                                                [ngClass]="{ 'is-invalid': submitted && f.term_description.errors }" />
                                            <div *ngIf="submitted && f.term_description.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f.term_description.errors.required">Term Description is
                                                    required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="body" style="text-align: center;">
                                <div class="button-demo">
                                    <button type="submit"
                                        class="btn btn-primary btn-border-radius waves-effect">{{BTN_VAL}}</button>
                                    <button type="button" class="btn btn-danger btn-border-radius waves-effect"
                                        (click)="cancelForm()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="list_form">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <strong>Exportable</strong> Table</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                                        role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="#" onClick="return false;">Action</a>
                                        </li>
                                        <li>
                                            <a href="#" onClick="return false;">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#" onClick="return false;">Something else here</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <div class="table-responsive">
                                <table id="tableExport"
                                    class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Term Code</th>
                                            <th>Term Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of termdata">
                                            <td>
                                                <button class="btn btn-outline-success btn-border-radius"
                                                    (click)="editTermData(row)">Edit</button>
                                                <button class="btn btn-outline-danger btn-border-radius"
                                                    (click)="deleteTermData(row)">Delete</button>
                                            </td>
                                            <td>{{row.term_code}}</td>
                                            <td>{{row.term_description}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>