<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="height: 79px;margin-top: -46px;width: 1090px;margin-left: -36px;">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="new_entry_title">
                                <div class="header">
                                    <h2>
                                        <strong>Currency</strong>
                                    </h2>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="btn_list" style="text-align: right;">
                                <div class="header">
                                    <h2>
                                        <button class="btn btn-primary btn-rounded waves-effect" type="button" (click)="showList();"><i class="fa fa-calendar"></i> List of Currency</button>
                                    </h2>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="list_title">
                                <div class="header">
                                    <h2>
                                        <strong>List of Currency</strong>
                                    </h2>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="btn_new_entry" style="text-align: right;">
                                <div class="header">
                                    <h2>
                                        <button class="btn btn-primary btn-rounded waves-effect" type="button" (click)="showNewEntry();"><i class="fa  fa-plus"></i>Add New Currency</button>
                                    </h2>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="new_entry_form">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form [formGroup]="currencyForm" (ngSubmit)="onSubmit()">
                        <div class="card">
                            <div class="body">
                                <div class="row clearfix">
                                    <input type="hidden" formControlName="id" id="id" value="[id]" class="form-control">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                        <div class="form-group">
                                            <label class="form-label">Currency Code</label>
                                            <input type="text" formControlName="currency_code"  placeholder="Enter Currency Code" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.currency_code.errors }" />
                                            <div *ngIf="submitted && f.currency_code.errors" class="invalid-feedback">
                                                <div *ngIf="f.currency_code.errors.required">Currency Code is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                        <div class="form-group">
                                            <label class="form-label">Currency Full Name</label>
                                            <input type="text" formControlName="currency_name" placeholder="Enter Currency Full Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.currency_name.errors }" />
                                            <div *ngIf="submitted && f.currency_name.errors" class="invalid-feedback">
                                                <div *ngIf="f.currency_name.errors.required">Currency Full Name is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                        <div class="form-group">
                                            <label class="form-label">Symbol</label>
                                            <input type="text" formControlName="symbol" placeholder="Enter Symbol" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.symbol.errors }" />
                                            <div *ngIf="submitted && f.symbol.errors" class="invalid-feedback">
                                                <div *ngIf="f.symbol.errors.required">Symbol is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-4">
                                        <label class="form-label">Country</label>
                                        <div class="form-group">
                                            <select class="form-control" formControlName="country_id" id="Country" [ngClass]="{ 'is-invalid': submitted && f.country_id.errors }">
                                            <option value="null">Select Country</option>
                                            <option *ngFor="let country of countrydata" value="{{country.id}}">{{country.name}}</option>
                                        </select>
                                            <div *ngIf="submitted && f.country_id.errors" class="invalid-feedback">
                                                <div *ngIf="f.country_id.errors.required">Country is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="body" style="text-align: center;">
                                <div class="button-demo">
                                    <button type="submit" class="btn btn-primary btn-border-radius waves-effect">{{BTN_VAL}}</button>
                                    <button type="button" class="btn btn-danger btn-border-radius waves-effect" (click)="showList();">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="list_form">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <div class="table-responsive">
                                <table id="tableExport" class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Currency Code</th>
                                            <th>Currency Full Name</th>
                                            <th>Symbol</th>
                                            <th>Country</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of currencydata">
                                            <td>
                                                <button class="btn btn-outline-success btn-border-radius" (click)="editCurrency(row)">Edit</button>
                                                <button class="btn btn-outline-danger btn-border-radius" (click)="deleteCurrencyData(row)">Delete</button>
                                            </td>
                                            <td>{{row.currency_code}}</td>
                                            <td>{{row.currency_name}}</td>
                                            <td>{{row.symbol}}</td>
                                            <td>{{row.country_name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
